// Colours
$beige: #f5f4f2;
$black: #111111;
$dark-gray: #4d4d4d;
$green: #3dd4a9;
$light-gray: #eeeeee;
$orange: #fa8043;
$white: #ffffff;

// Sidebar navigation items
$sidebar-nav-items: $black;

// Width of sidebar for desktop
$sidebar-desktop-width: 280px;

// Width of banner title
$banner-title-width: 30%;