// Colours
$beige: #f5f4f2;
$black: #111111;
$green: #3dd4a9;
$light-gray: #eeeeee;
$white: #ffffff;

// Sidebar navigation items
$sidebar-nav-items: $black;

// Width of sidebar for desktop
$sidebar-desktop-width: 280px;

// Width of banner title
$banner-title-width: 30%;

// Height of where the banner title should be
$banner-title-height: 30%;