@import "bourbon";
@import "grid-settings";
@import	"typography";
@import "variables";
@import "neat";
@import "sidebar";

html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: $beige;
	margin: 0;
	height: 100%;

	section {
		&.main-content {
			background-color: $light-gray;
			font-weight: 300;
			height: 100%;
			margin-left: $sidebar-desktop-width;

			@include calc(width, "100% - #{$sidebar-desktop-width}");
			@include pad();

			@include media($mobile) {
				margin-left: 0;

				@include span-columns(4);
			}
		}
	}
}