@import "bourbon";
@import "grid-settings";
@import	"typography";
@import "variables";
@import "neat";
@import "sidebar";
@import "home-page-content";

html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: $beige;
	margin: 0;
	height: 100%;
}